*,
*::before,
*::after {
    box-sizing: border-box ;
}

/*  Custom Properties  */

:root {
    --ff-primary: 'Playfair Display', serif;
    --ff-secondary: 'Roboto', sans-serif;

    --clr-light: #F1E9DA;
    --clr-dark: #66101F;

    --fs-h1: 2.5rem;
    --fs-body: 1.5rem;
}

/* General styles */

body {
    background: var(--clr-dark);
    color: var(--clr-light);
    font-family: var(--ff-primary);
    margin: 0;
    padding: 1em 2.25em;
}


/* Typography */

#title p {
    font-family: var(--ff-secondary);
}

/* Title */

#title {
    margin: auto;
}

#title h1{
    font-size: var(--fs-h1);
    line-height: 1.25;
    text-align: center;
    text-transform: uppercase;
}

#title p {
    font-size: var(--fs-body);
    line-height: 1;
    text-align: center;
}


/* Image */

#img-div img {
    width: 100%;
    height: auto;
    box-shadow: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
    0.125em 0.125em .025em rgba(0,0,0,.15);;
}

#img-caption {
    font-family: var(--ff-secondary);
    text-align: center;
    line-height: 1.5;
}

@media (min-width: 600px) {
    #img-div img {
        display: block;
        max-width: 1000px;
        margin: auto;
    }
}


/* Tribute Information */ 


#tribute-info {
    /* max-width: 750px;
    align-self: center; */
    margin: auto;
    /*min-width: 70%;*/
    padding-top: 10px;
}

#tribute-info p {
    text-align: center;
}

.tribute-list {
    font-family: var(--ff-secondary);
    line-height: 1.5;
}

@media (min-width: 600px) {
    #tribute-info {
        max-width: 800px;
    }
}


/* Tribute Quote */

.tribute-quote {
    padding-top: 10px;
}
.tribute-quote p {
    font-family: var(--ff-secondary);
    line-height: 1.5;
}

#tribute-auth {
    font-family: var(--ff-primary);
}


/* Tribute Link */

.footer {
    margin: auto;
    /*max-width: 70%;*/
    line-height: 1.5;
    padding-top: 10px;
    font-family: var(--ff-secondary);
}

.footer a{
    color: var(--clr-light);
}

.footer a:hover {
    color: #ddcaa6;
}

@media (min-width: 600px) {
    .footer {
        max-width: 800px;
    }
}